/* entire webpage style */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*  elements settings in full body */
body {
  margin: 0 auto;
  background-color: whitesmoke;
  color: #4c4e52;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}
/* header style */
header {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: whitesmoke;
  height: 100%;
}
/* title in header style */
.container {
  margin-left: 115px;
}
/* nav in header style */
nav {
}
nav ul li {
  list-style-type: none;

  cursor: pointer;
}
figure {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid white;
}

/* link style */
a {
  text-decoration: none;
  color: #4c4e52;
}
a:hover {
  color: lightcoral;
  transition: 2ms;
}

/* figure img style */

figure {
  height: 100vh;
  width: 100%;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center center;
}
/* coming soon text style */
.second-background {
  background-color: rgb(33, 33, 33, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text {
  color: white;
  text-align: center;
  margin: 0 auto;
}

.img-1 {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-image: url("../img/itzel.jpg");
}

.img-2 {
  display: inline-flex;
  justify-content: center;

  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-image: url("../img/project1.jpg");
  background-size: contain;
}
.img-3 {
  display: inline-flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-image: url("../img/project2.jpg");
  background-size: contain;
}
.img-4 {
  display: inline-flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 100px;

  background-image: url("../img/project3.jpg");
  background-size: contain;
}

/* text input and placeholder style */
input {
  font-family: "Quicksand", sans-serif;
  display: block;
  position: relative;
  margin: 20px auto;
}
/* button style */
button {
  margin: 10px;
  display: block;
  margin: 10px auto;
  padding: 6px 55px 6px 55px;
  background-color: whitesmoke;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 30px;
  font-family: "Quicksand", sans-serif;
}
button:hover {
  background-color: rgb(236, 154, 154);
  color: white;
}

/* footer style */
footer {
  position: relative;
  bottom: 0;
  padding: 7px;
  opacity: 80%;
}

/* resposive elements style */
@media screen and (max-width: 518px) {
  nav {
  }
  h2 {
  }
}
